<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <app-navbar></app-navbar>
  </button>
  <span id="appName">OMAHA BARBELL</span>
  <span class="specey"></span>
  <div class="clickyCons">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share URL"
      matTooltipPosition="below">
      <mat-icon>share</mat-icon>
    </button>

    <a mat-icon-button class="icon" matTooltip="Follow us on Twitter" matTooltipPosition="below"
      href="https://twitter.com/omahabarbell?lang=en" target="_blank"> <img
        src="https://img.icons8.com/material/24/000000/twitter--v1.png" />
    </a>
    <a mat-icon-button class="icon" matTooltip="Follow us on Instagram" matTooltipPosition="below"
      href="https://www.instagram.com/omahabarbell/" target="_blank"> <img
        src="https://img.icons8.com/material/24/000000/instagram-new--v1.png" />
    </a>
    <a mat-icon-button class="icon" matTooltip="Like us on Facebook" matTooltipPosition="below"
      href="https://www.facebook.com/OmahaBarbell/" target="_blank"> <img
        src="https://img.icons8.com/material/24/000000/facebook--v1.png" />
    </a>
  </div>
</mat-toolbar>
