  <mat-card class="card">
    <mat-card-header>
      <mat-card-title> Omaha Barbell’s Gym Equipment</mat-card-title>
      <mat-card-subtitle>OBGYM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Did you know that weightlifting boosts your metabolism for 36+ hours after every session? On the other hand,
        cardio
        only burns calories while you’re doing it. That’s why our primary focus at Omaha Barbell is strength
        training
        and
        athletic conditioning. Below is a sampling of equipment that we offer.
      </p>
      <hr class="fancyHr">
      <mat-card-title>
        <mat-icon class="matIcon">done_outline</mat-icon>Cardio
      </mat-card-title>
      <p>
        We know a lot of people are interested in cardio and we want you to know that we have equipment for you too.
        We
        have
        treadmills, ellipticals and bicycles. All are polished and up to date, ready to take your heart rate and
        make
        you
        sweat. They are equipped with technology to make your workout as hard or as gentle as you wish.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Power Racks</mat-card-title>
      <p>
        We know that free weights, more than anything else, are vital for any kind of training. Where most gyms have
        dozens of
        Nautilus or other machine-based equipment with (maybe) one Smith machine, we have multiple power racks AND a
        mono-lift, with a full suite of bars to go with them.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Competition Benches</mat-card-title>
      <p>
        Instead of the wobbly, too-narrow benches you’ll find at most gyms, we have real competition-style benches
        complete
        with spotting platforms. We have guys in here benching well over 400 pounds, so pro-grade equipment isn’t an
        option,
        it’s a must.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Sleds and Pink Prowler</mat-card-title>
      <p>
        If you’ve never used a sled or our prowler before, then you’re in for a real treat! It’ll be a grueling
        treat
        while
        you’re doing it, sure, but the fat loss and explosive strength you gain from these pieces of equipment is
        unreal.
        Highly recommended for all athletes.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Deadlift Platform and Olympic Lifting Platform with Bumper Plates</mat-card-title>
      <p>
        Most commercial gyms will tell you to deadlift quietly, if they have deadlifting equipment at all. We have
        an
        open
        deadlifting platform with bumper plates, perfect for deadlifts and olympic lifts alike. As we said on the
        home
        page,
        you’re welcome to drop the weight at OBGYM!
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Chains, Bands, Boards and Boxes</mat-card-title>
      <p>
        You can’t seriously train the major competition lifts (squat, bench, deadlift) without these accessories,
        and we
        have
        all of them. Our courteous and experienced staff is always happy to help you rig up the bar and lend a spot
        if
        you
        choose to use these awesome tools.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>Dumbbells up to 150 lbs.</mat-card-title>
      <p>
        Most gyms only have dumbbells up to 100 lbs. We’ve got that and more. Dumbbells are essential for unilateral
        training
        (making sure both sides of your body are the same strength), and no matter how strong you are, we’ve got the
        iron you
        need to get stronger.
      </p>
      <hr class="fancyHr">
      <mat-card-title><mat-icon class="matIcon">done_outline</mat-icon>And Much, Much More…</mat-card-title>
      <p>
        Of course, we really don’t have space here to outline every single piece of equipment in our gym. For
        example,
        we
        haven’t even touched on our Reverse Hyper machine, our MMA equipment, or our wide assortment of bars. But we
        figure,
        why read about it when you can come in and see for yourself?
      </p>
      <p>
        We would love to show you the ropes (literally – we have MMA ropes), so give us a call and schedule a tour.
        We’re sure
        we can impress you.
      </p>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic4.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic9.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic5.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic6.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic1.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic2.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic.jpg" alt="OBGYM" /></mat-grid-tile>
        <mat-grid-tile><img mat-card-image src="../../../assets/gympic3.jpg" alt="OBGYM" /></mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
