<mat-card class="card">
  <mat-card-header>
    <mat-card-title>About Us – Omaha Barbell #1 Best Gym in Omaha</mat-card-title>
    <mat-card-subtitle>OBGYM</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Have you ever been to another gym in Omaha? There are lots of them to choose from… After all, Omaha is a big city.
      So, what makes Omaha Barbell special? Why did we feel like we needed to open a place like OBGYM? Why should you
      come try us out instead of the big name Omaha gyms down the street?
    </p>
    <hr class="fancyHr">
    <mat-card-title>
      <mat-icon class="matIcon">done_outline</mat-icon>Omaha Barbell is a Place to Call Home
    </mat-card-title>
    <p>
      As we say on our homepage, we do things a little bit differently here at Omaha Barbell. The fact of the matter is
      that you can’t do what we do in normal Omaha gyms. Even though most people associate any gym with lifting weights,
      “weightlifting” in a commercial gym isn’t really weightlifting. You’re limited by space, equipment and even gym
      rules.
      <br>
      <br>
      If you’ve ever done heavy deadlifts in a commercial Omaha gym, you know what I’m talking about… I’ve had
      commercial trainers tell me to be quiet, to quit lifting such heavy weight, and to stop being so inconsiderate of
      the other patrons.
      <br>
      <br>
      Here at Omaha Barbell, you’ll never feel uncomfortable or out of place. We want you to achieve results, whatever
      that takes. Whether you’re an athlete looking to excel, a powerlifter looking to compete, or a parent looking for
      a healthy environment for you and your family, when you’re inside Omaha Barbell, you’re home.
    </p>
    <hr class="fancyHr">
    <mat-card-title>
      <mat-icon class="matIcon">done_outline</mat-icon>Omaha Barbell Offers Real Results
    </mat-card-title>
    <p>
      Without beating around the bush, Omaha Barbell is the best because we give you better results than any other gym
      in Omaha. Why bother going to a gym if you’re not making the most of it?
      <br>
      <br>
      Whatever your fitness goals may be, our highly trained and experienced staff (more on that below) will help you
      achieve those goals faster and more completely. Even though none of our patrons sign contracts other than a basic
      safety waiver, they stick around month after month because they keep getting stronger, faster, leaner and
      healthier.
    </p>
    <hr class="fancyHr">
    <mat-card-title>
      <mat-icon class="matIcon">done_outline</mat-icon>Omaha Barbell Members Are the Best
    </mat-card-title>
    <p>
      The environment at Omaha Barbell is results-oriented because our staff knows exactly what works and what doesn’t.
      <br>
      <br>
      When you workout at Omaha Barbell, you’re surrounded by the best of the best looking to accomplish results. Our
      members and drop in visitors range from power lifting and strong-man champs, to MMA fighters essentially athletes
      of every caliber. If you’re not a fitness enthusiast, don’t worry! We’re serious about strength, but we’ve also
      all “been there,” so we can help provide an environment where you can achieve maximum results at maximum speed.
      <br>
      <br>
      We look out for each other here at Omaha Barbell… Whenever you have a question, problem or obstacle, many members
      are available to help you move forward with a friendly tip or spot.
      <br>
      <br>
      These are three characteristics that make Omaha Barbell unique, and three reasons we felt a need to open a gym in
      Omaha in the first place. But, to really understand why we started Omaha Barbell and why so many people continue
      to work out with us month after month, you need to come in and see for yourself. Call us anytime to schedule an
      appointment; we’d love to show your why we’re the best.
    </p>
    <hr class="fancyHr">
  </mat-card-content>
</mat-card>
