.card {
  margin-top: 50px;
}

.fancyHr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
  padding-left: 15%;
}

.list {
  font-size: 1em;
  height: 25px !important;
}
