<mat-card class="card">
  <mat-card-title class="title">GYM HOURS</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item class="list" role="listitem">MON-THUR |<strong>&nbsp;5am-10pm</strong></mat-list-item>
      <mat-list-item class="list" role="listitem">FRIDAY |<strong>&nbsp;5am-9pm</strong></mat-list-item>
      <mat-list-item class="list" role="listitem">SATURDAY |<strong>&nbsp;7am-7pm</strong></mat-list-item>
      <mat-list-item class="list" role="listitem">SUNDAY |<strong>&nbsp;7am-4pm</strong></mat-list-item>
    </mat-list>
  </mat-card-content>

  <hr class="fancyHr">

  <mat-card-title class="title">Omaha Barbell</mat-card-title>
  <mat-card-content>
    <p> A unique fitness facility experience featuring state of the art weight training equipment. We are a gym
      where
      fat is shed, strength and muscle are earned and customer service can't be beat.</p>

    <p> We are "The perfect 'FIT' for everyone!"</p>

    <p>
      <a href="https://goo.gl/maps/7TZU43qLPv6qXsnk8" target="_blank">8935 J Street Omaha, NE 68127</a>
    </p>

    <mat-form-field appearance="legacy">
      <mat-label>(402) 594-4485</mat-label>
      <input matInput placeholder="Placeholder" disabled>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </mat-card-content>

  <hr class="fancyHr">

  <mat-card-title class="title">Member Pricing</mat-card-title>
  <mat-card-content>
    <p> $45 per month (plus tax) for EFT (Electronic Funds Transfer)</p>

    <p> $50 per month (plus tax) for pay in person</p>

    <p> For those of you who don’t want to have to think about payments $480 per year (plus tax) if you pay in
      full!</p>

    <p> Not sure if you want to join just yet? No worries, we have you covered! Try us out for a small drop in
      fee of $10</p>

    <mat-card-subtitle>
      *Contact Omaha Barbell Team for Military, Police, Firefighter and EPTS member discounts.
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>
