<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/equipment">
    <mat-icon>fact_check</mat-icon>
    <span>Equipment</span>
  </button>
  <button mat-menu-item routerLink="/about">
    <mat-icon>groups</mat-icon>
    <span>About</span>
  </button>
  <button mat-menu-item routerLink="/directions">
    <mat-icon>map</mat-icon>
    <span>Directions</span>
  </button>
</mat-menu>
