<mat-card>
  <mat-card-header>
    <mat-card-title> Omaha Barbell – Omaha’s Best Gym for Members or Drop Ins</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Here at Omaha Barbell, we’re not your normal gym. This is a place where grunts are welcome, chalk is freely
      available, and dropping the weight on a deadlift or snatch is encouraged. Most importantly, Omaha Barbell is a
      place where you’ll get results.
    </p>

    <p>
      If you’re tired of cookie-cutter gyms that do not encourage you to meet your strength and weight-loss goals,
      then
      we would love to have you at Omaha Barbell. And if you’ve never been to a real gym before, then boy, you’re
      gonna
      love what we have for you here! Your body will, too.
    </p>

    <p>
      We take pride in our results-oriented equipment, but don’t let that intimidate you – we’re open to anyone and
      everyone who wants real results from their training. We have men, women, teens and fitness-newbies all working
      towards the same goals at Omaha Barbell – get stronger, get healthier, get leaner. If you want any or all of
      those
      three things, then you need to call us today. We train:
    </p>
    <span>
      <mat-list>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          Powerlifters
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          MMA Fighters
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          Moms and Dads
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          Teens
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          Athletes
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          Newbies
        </mat-list-item>
        <mat-list-item class="list">
          <mat-icon mat-list-icon>done</mat-icon>
          And anyone else with a desire for a healthier life
        </mat-list-item>
      </mat-list>
    </span>
    <p>
      Unlike most commercial gyms, at Omaha Barbell your body is more important to us than your money. We are an
      independently owned and managed Omaha gym (located at 8935 J Street Omaha, NE 68127), so we’re not going to try
      and swindle you with “initiation fees” or yearly contracts or anything like that. Come in and try us out for a
      drop-in fee of $10, then it’s a simple $45 or $50 per month (depending on EFT or cash) to get access to the best
      gym in Omaha.
    </p>
    <p>
      If you have any more questions about what makes Omaha Barbell better, then checkout our equipment page and our
      blog. We’re happy to answer any questions and help you achieve your fitness goals anyway that we can. Hope to
      see you soon!
    </p>
    <p>
      If you have any more questions about what makes Omaha Barbell better, then checkout our equipment page. We’re
      happy to answer any questions and help you achieve your fitness goals anyway that we can. Hope to
      see you soon!
    </p>
  </mat-card-content>
</mat-card>
